 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who we are</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                        Pamela LE VAN, founder of ChouParty, has always been in love with party planning, but even more with planning kids birthday party. She's been planning party since 2003. She looks forward to helping make your event one to remember for a lifetime and bring your vision to life. Our party coordinators are all experienced with kids and each of them have specials skills that will make your event a hit.
                    </p>
                </div>
            </div>
        </div>
    </section>