 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our commitment</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                        We want every birthday party to be a delightful experience for the kids and the parents. This is our passion and north star. We've always made each party a success and we are planning to continue doing so for a long long time.
                    </p>
                </div>
            </div>
        </div>
    </section>