
    <section id="story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What we do</h2>
                    <hr class="star-primary">
                </div>
            </div>        
            <div class="row">            
                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        As parents we want to celebrate our kids birthday party with a memorable and original party but it is not always easy with our busy life. Between the preparation (all the planning and errands) and hosting the party it can be overwhelming. 
                    </p>
                    <p>
                        With Chouparty you will have all the fun without the stress.Our parties are designed with kids and parents in mind. Our event planners are pleased to facilitate your birthday party at your home or location of your choice. We will come to your house and have a 30 mins consultation and follow up with a 1 hour meeting to go over all the details of the party.
                    </p>
                    <p>
                        We will take care of every details including set-up, break down, deco, invitations and activities. You can enjoy the party with the birthday kid.
                    </p>
                    <p>
                        We take the stress out of managing all the details and let you and your family enjoy the party!
                    </p>
                </div>
            </div>
        </div>
    </section>