
    <section id="story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What we do</h2>
                    <hr class="star-primary">
                </div>
            </div>        
            <div class="row">            
                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        Parents want to celebrate their kids birthday with a memorable party but it is not always easy with our busy life. 
                    </p>
                    <p>
                        At Partylicious, we take care of all the logistics so that your kid can have a perfect day and parents a stress free day.
                    </p>
                    <ul>
                        <li> Find a great theme for the party </li>
                        <li> Custom made Party invitation </li>
                        <li> Set-up and break down </li>
                        <li> Personalized welcome sign </li>
                        <li> Table and chairs for 12 guests. </li>
                        <li> Table setting and room decorations </li>
                        <li> Plates, Napkins, Cups and Forks for Each Guest </li>
                        <li> Run the games and crafts. </li>
                        <li> Party Music </li>    
                    </ul>
                    <p>
                        We take the stress out of managing all the details and let you and your family enjoy the party!
                    </p>
                </div>
            </div>
        </div>
    </section>