
    <section class="success" id="themes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Themes</h2>
                    <hr class="star-light">
                </div>
            </div>        
            <div class="row row_theme">            
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_minecraft.png">
                    <div class="text-center">
                        <h3> Minecraft </h3>
                        <p>
                            Offline activities, games, art and crafts for kids who love Minecraft.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_heroes.png">
                    <div class="text-center">
                        <h3> Superheroes </h3>
                        <p>
                            All superheroes have one thing in common: They like to stay active.  We will dress-up, play super-heroes games and have some fun crafts for each guests.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_pokemon.png">
                    <div class="text-center">
                        <h3> Pokemon </h3>
                        <p>
                            f you have a Pokemon lover in your house, they will love this party. Each trainer will get to catch Pokemons with games and crafts.
                        </p>
                    </div>
                </div>
            </div>                
            <div class="row row_theme">
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_teaparty.png">
                    <div class="text-center">
                        <h3> Teaparty </h3>
                        <p>
                            All little ladies dream of having a tea party, dressing up and sitting down at a beautiful table with china cups and flowery table accents. So get ready to put on your fancy dress, a tea party hat and play fun games.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_spa.png">
                    <div class="text-center">
                        <h3> Spa </h3>
                        <p>
                            Every guest will receive a pampered basket. They will have mani-pedi, they will learn how to make a home-made facial and play games.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_fashionista.png">    
                    <div class="text-center">
                        <h3> Fashionista </h3>
                        <p>
                            We will play fun games,have glitter tattoos and sparkle nails and every guest will receive sunglasses and feather boa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row row_theme">
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_lego.png">
                    <div class="text-center">
                        <h3> Lego </h3>
                        <p>
                            This party is a big hit for kids of all ages, full of lego fun with tons of games and arts and crafts!
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_beach.png">
                    <div class="text-center">
                        <h3> Beach </h3>
                        <p>
                            You love surfing, we will bring the party to Capitola Beach. We will play fun beach games and have a blast!
                        </p>
                    </div>    
                </div>
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="img/portfolio/theme_camping.png">    
                    <div class="text-center">
                        <h3> Camping </h3>
                        <p>
                            Outdoor Movies, popcorn, smore’s bar and fun games makes this a great birthday for everyone!
                        </p>
                    </div>
                </div>
            
        </div>
    </section>